body {
  /* padding-top: 70px;Para compensar a altura do menu fixo */
}

.navbar {
  background-color: #333;
  /* Cor de fundo da barra de navegação */
}

.navbar-brand {
  color: #fff;
  /* Cor do texto do logo */
  font-size: 24px;
  /* Tamanho da fonte do logo */
}

.navbar-nav .nav-item .nav-link {
  color: #a09a9a;
  /* Cor do texto dos itens de navegação */
}

#menu {
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#menu li {
  list-style-type: none;
  margin-left: 10px;
}

.container.mt-4 {
  top: 100px;
}

.container {
  padding-bottom: 10px;
  min-height: 100%;
  position: relative;
}

.custom-spacing {
  margin-left: 20%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  background-color: #271344 ;
}